* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F5F5F5;
}

.content-container {
  background-color: #F5F5F5;
}

main {
  margin: 0px auto;
  padding: 1em 0.3em;
  height: 100vh;
  width: 98vw;
}
