* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.content-container {
  background-color: #F5F5F5;
}

main {
  margin: 0px auto;
  padding: 0.5em 0.3em;
  width: 98vw;
}
