header {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.097543);
  border-radius: 8px;
  display:flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
}

.vertical-row {
  border-left: 2px solid #DFDFDF;
  height: 1.7em;
  margin: 0px 1em;
}

.header-text {
  font-weight: 700;
  color: #343234;
  font-size: 1em;
}

.slash {
  color:#DFDFDF;
  font-weight: 500;
  font-size: 1em;
}

.header-actual-page {
  color: #00B39D;
  font-size: 1em;
  font-weight: 500;
}