.transactions-container {
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.097543);
  border-radius: 4px;
  margin-top: 1em;
  padding: 1em 2em;
}

.horizontal-row {
  border-top: 1px solid #E3E2E3;
  width: 100%;
  margin: 1em 0em;
}

.summary-transaction-title {
  color: #343234;
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 1.2em;
}

.transictions-title, .total-transactions {
  color: #888689;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8em;
}

.summary-transaction-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.all-moviments-container {
  text-align: right;
  margin-right: 1%;
}

.moviments-value, .moviments-total {
  font-style: normal;
  font-weight: 800;
  font-size: 1.2em;
}

.paper-negotiations-container {
  margin-top: 1em;
  margin-right: 3%;
}

.paper-numbers-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5em;
  flex-grow: 0;
}

.resume-paper-name {
  color: #FFFFFF;
  background: #00B39D;
  border-radius: 2px;
  padding: 3px 10px 1px 6px; 
  font-size: 0.8em;
  font-weight: 800;
}

.transaction-number {
  color: #343234;
  font-size: 0.8em;
  font-weight: 800;
  margin-right: 4px;
}

.hyphen-span {
  border-top: 1px dashed #C5C5C5;
  flex-grow: 1;
  margin: 0px 0.4em;
}